In [1]:
import pandas as pd
from Funcoes_auxiliares.func_aux import *

In [2]:
df_2022 = pd.read_csv('base_suja\\SIM_DOFET_2022_sujo.csv', sep=';')

In [3]:
df_2022

,Unnamed: 0,ORIGEM,CODMUNCART,NUMREGCART,CODCART,DTREGCART,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,1,NaN,NaN,NaN,NaN,1,21012022,1655.0,828.0,...,SXXSXX,NaN,NaN,NaN,12052022.0,1.0,5052022.0,NaN,2.0,1544267
1,2,1,NaN,NaN,NaN,NaN,1,12032022,945.0,821.0,...,XXSSXX,NaN,NaN,NaN,19042022.0,1.0,18042022.0,NaN,2.0,1544268
2,3,1,NaN,NaN,NaN,NaN,1,12052022,425.0,841.0,...,SSSSXX,NaN,NaN,NaN,30082022.0,1.0,30082022.0,NaN,1.0,1544269
3,4,1,NaN,NaN,NaN,NaN,1,12052022,800.0,841.0,...,XSSSXX,NaN,NaN,NaN,30082022.0,1.0,30082022.0,NaN,1.0,1544270
4,5,1,NaN,NaN,NaN,NaN,1,11052022,2315.0,841.0,...,SXXSXX,NaN,NaN,NaN,14072022.0,1.0,8072022.0,NaN,1.0,1544271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27389,27390,1,NaN,NaN,NaN,NaN,1,22082022,300.0,815.0,...,XXXSXX,NaN,NaN,NaN,21112022.0,1.0,8112022.0,NaN,1.0,1571656
27390,27391,1,NaN,NaN,NaN,NaN,1,22082022,0.0,815.0,...,XXXSXX,NaN,NaN,NaN,6102023.0,1.0,3092023.0,NaN,1.0,1571657
27391,27392,1,NaN,NaN,NaN,NaN,1,9112022,130.0,815.0,...,XXXSXX,NaN,NaN,NaN,13022023.0,1.0,2012023.0,NaN,1.0,1571658
27392,27393,1,NaN,NaN,NaN,NaN,1,21092022,1840.0,813.0,...,SXXXXX,NaN,NaN,NaN,10072023.0,1.0,3032023.0,NaN,2.0,1571659
27393,27394,1,NaN,NaN,NaN,NaN,1,8082022,132.0,815.0,...,XXXSXX,NaN,NaN,NaN,21112022.0,1.0,14092022.0,NaN,1.0,1571660

In [4]:
# df_dofet_suja = pd.read_csv('base_suja\\base_sim_dofet_suja.csv')
# for i in df_dofet_suja.columns:
#     print(i)

In [6]:
df_2022.columns

Index(['Unnamed: 0', 'ORIGEM', 'CODMUNCART', 'NUMREGCART', 'CODCART',
       'DTREGCART', 'TIPOBITO', 'DTOBITO', 'HORAOBITO', 'NATURAL',
       'CODMUNNATU', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'ESTCIV', 'ESC',
       'ESC2010', 'SERIESCFAL', 'OCUP', 'CODMUNRES', 'LOCOCOR', 'CODESTAB',
       'ESTABDESCR', 'CODMUNOCOR', 'IDADEMAE', 'ESCMAE', 'ESCMAE2010',
       'SERIESCMAE', 'OCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'GRAVIDEZ',
       'SEMAGESTAC', 'GESTACAO', 'PARTO', 'OBITOPARTO', 'PESO', 'TPMORTEOCO',
       'OBITOGRAV', 'OBITOPUERP', 'ASSISTMED', 'EXAME', 'CIRURGIA',
       'NECROPSIA', 'LINHAA', 'LINHAB', 'LINHAC', 'LINHAD', 'LINHAII',
       'CAUSABAS', 'CB_PRE', 'MEDICO', 'COMUNSVOIM', 'DTATESTADO', 'CIRCOBITO',
       'ACIDTRAB', 'FONTE', 'NUMEROLOTE', 'TPPOS', 'DTINVESTIG', 'LINHAA_O',
       'LINHAB_O', 'LINHAC_O', 'LINHAD_O', 'LINHAII_O', 'CAUSABAS_O',
       'DTCADASTRO', 'ATESTANTE', 'STCODIFICA', 'CODIFICADO', 'VERSAOSIST',
       'VERSAOSCB', 'FONTEINV', 'DTRECEBIM', 'ATESTADO', 'DTRECORIG',
       'DTRECORIGA', 'CAUSAMAT', 'ESCMAEAGR1', 'ESCFALAGR1', 'STDOEPIDEM',
       'STDONOVA', 'DIFDATA', 'NUDIASOBCO', 'NUDIASOBIN', 'DTCADINV',
       'TPOBITOCOR', 'DTCONINV', 'FONTES', 'TPRESGINFO', 'TPNIVELINV',
       'NUDIASINF', 'DTCADINF', 'MORTEPARTO', 'DTCONCASO', 'FONTESINF',
       'ALTCAUSA', 'CONTADOR'],
      dtype='object')

# Tratamentos

In [13]:
# pd.unique(df_2022['TIPOBITO']) # Somente 1 que representa obitos fetais
# df_2022['TIPOBITO'].isnull().sum() # Sem NA's
# Variável TIPOBITO - OK

In [15]:
#pd.unique(df_2022['ESCMAE2010'])
#df_2022['ESCMAE2010'].isnull().sum() # 2237 nulls
df_2022['escolaridade_mae'] = [func_categorize_escolmae(i) for i in df_2022['ESCMAE2010']]
# Null = Ignorado

In [17]:
#pd.unique(df_2022['IDADEMAE'])
#df_2022['IDADEMAE'].isnull().sum() # 1602 nulls
df_2022['idademae_faixa'] = [func_categorize_idademae(i) for i in df_2022['IDADEMAE']]
# Null e 9 = Ignorado

In [19]:
#pd.unique(df_2022['OBITOGRAV'])
#df_2022['OBITOGRAV'].isnull().sum() # 27393 nulls
# 99,99 % nulo

In [21]:
#pd.unique(df_2022['GRAVIDEZ'])
#df_2022['GRAVIDEZ'].isnull().sum() # 586 nulls
df_2022['tipo_gravidez'] = [func_categorize_gravidez(i) for i in df_2022['GRAVIDEZ']]
# Null e 9 = Ignorado

In [25]:
#pd.unique(df_2022['SEMAGESTAC'])
#df_2022['SEMAGESTAC'].isnull().sum() # 1354 nulls
df_2022['idade_gestacao_faixa'] = [func_categorize_idade_gest(i) for i in df_2022['SEMAGESTAC']]
# Null e 99 = Ignorado

In [29]:
#pd.unique(df_2022['SEXO'])
#df_2022['SEXO'].isnull().sum() # sem nulls
# Remover 0

In [31]:
#pd.unique(df_2022['PESO'])
#df_2022['PESO'].isnull().sum() # 1463 nulls
df_2022['peso_faixa'] = [func_categorize_peso(i) for i in df_2022['PESO']]
# Null = Ignorado

In [33]:
#pd.unique(df_2022['OBITOPARTO'])
#df_2022['OBITOPARTO'].isnull().sum() # 748 nulls
# remover null e 9

In [35]:
#pd.unique(df_2022['CAUSABAS'])
df_2022['CAUSABAS'].isnull().sum() # 0 nulls

0

# Trazendo algumas imformações da PCDas

In [38]:
# ocor_MUNNOMEX,res_MUNNOMEX,ocor_CAPITAL,res_CAPITAL,ocor_REGIAO,res_REGIAO,ocor_SIGLA_UF,res_SIGLA_UF
sim_dofet_2019 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2019_t.csv')
sim_dofet_2020 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2020_t.csv')
sim_dofet_2021 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2021_t.csv')

sim_dofet_unif = pd.concat([sim_dofet_2019, sim_dofet_2020, sim_dofet_2021])

C:\Users\gabri\AppData\Local\Temp\ipykernel_10960\238799347.py:2: DtypeWarning: Columns (89,110,112,113,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  sim_dofet_2019 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2019_t.csv')
C:\Users\gabri\AppData\Local\Temp\ipykernel_10960\238799347.py:3: DtypeWarning: Columns (89,105,106,109,110,112,113,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  sim_dofet_2020 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2020_t.csv')
C:\Users\gabri\AppData\Local\Temp\ipykernel_10960\238799347.py:4: DtypeWarning: Columns (89,105,106,110,112,113,115,116,117) have mixed types. Specify dtype option on import or set low_memory=False.
  sim_dofet_2021 = pd.read_csv('SIM_DOFET\\ETLSIM.DOFET_2021_t.csv')

In [40]:
sim_dofet_res = sim_dofet_unif[
    [
        'CODMUNRES'
        , 'res_MUNNOMEX'
        , 'res_CAPITAL'
        , 'res_REGIAO'
        , 'res_SIGLA_UF'
    ]
].drop_duplicates()

sim_dofet_ocor = sim_dofet_unif[
    [
        'CODMUNOCOR'
        , 'ocor_MUNNOMEX'
        , 'ocor_CAPITAL'
        , 'ocor_REGIAO' 
        , 'ocor_SIGLA_UF'
    ]
].drop_duplicates()

In [42]:
len(df_2022)

27394

In [44]:
df_2022_merge = df_2022.merge(sim_dofet_ocor, how='left', on='CODMUNOCOR')

In [46]:
df_2022_merge = df_2022_merge.merge(sim_dofet_res, how='left', on='CODMUNRES')

In [48]:
df_2022_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27394 entries, 0 to 27393
Columns: 112 entries, Unnamed: 0 to res_SIGLA_UF
dtypes: float64(72), int64(13), object(27)
memory usage: 23.4+ MB

In [50]:
sim_dofet_causa = sim_dofet_unif[
    [
        'CAUSABAS'
        , 'causabas_capitulo'
        , 'causabas_categoria'
        , 'causabas_grupo'
        , 'causabas_subcategoria'
                ]
].drop_duplicates()

In [52]:
len(sim_dofet_causa)

360

In [54]:
df_2022_merge = df_2022_merge.merge(sim_dofet_causa, how='left', on='CAUSABAS')

In [56]:
df_2022_merge['FLAG_BASE'] = 'SIM_DOFET'

In [58]:
def acerta_data(string):
    tam = len(string)
    if tam ==8:
        dt = f'{string[4:8]}-{string[2:4]}-{string[0:2]}'
        return dt
    elif tam == 7:
        dt = f'{string[3:7]}-{string[1:3]}-0{string[0]}'
        return dt
    else:
        None
        
    
df_2022_merge['data_obito'] = [acerta_data(str(i)) for i in df_2022_merge['DTOBITO']]

In [60]:
df_2022_merge['ano_obito'] = [i[0:4] for i in df_2022_merge['data_obito']]

In [62]:
def escolaridade_mae(cod):
    if cod == 0:
        return 'Sem_escolaridade'
    elif 1 <= cod <= 2:
        return 'Fundamental'
    elif cod == 3:
        return 'Ensino_medio'
    elif 4 <= cod <= 5:
        return 'Ensino_superior'
    else:
        return 'Ignorado'

df_2022_merge['escolaridade_mae'] = [escolaridade_mae(cod) for cod in df_2022_merge['ESCMAE2010']]

In [64]:
def sexo(cod):
    if cod == 1:
        return 'Masculino'
    elif cod == 2:
        return 'Feminino'
    else:
         return 'Ignorado'
df_2022_merge['def_sexo'] = [sexo(cod) for cod in df_2022_merge['SEXO']]

In [66]:
def obito_parto(cod):
    if cod == 1:
        return 'Antes'
    elif cod == 2:
        return 'Durante'
    elif cod == 3:
        return 'Depois'
    else:
         return 'Ignorado'
df_2022_merge['def_obito_parto'] = [obito_parto(cod) for cod in df_2022_merge['OBITOPARTO']]

In [72]:
def estado_civil(cod):
    if cod == 1:
        return 'Solteiro'
    elif cod == 2:
        return 'Casado'
    elif cod == 3:
        return 'Viuvo'
    elif cod == 4:
        return 'Separado_judicialmente'
    elif cod == 5:
        return 'Uniao_consensual'
    else:
         return 'Ignorado'
df_2022_merge['def_est_civil'] = [estado_civil(i) for i in df_2022_merge['ESTCIV']]

In [86]:
def raca_cor(cod):
    if cod == 1:
        return 'Branca'
    elif cod == 2:
        return 'Preta'
    elif cod == 3:
        return 'Amarela'
    elif cod == 4:
        return 'Parda'
    elif cod == 5:
        return 'Indigena'
    else:
         return 'Ignorado'
df_2022_merge['def_raca_cor'] = [raca_cor(i) for i in df_2022_merge['RACACOR']]

In [106]:
def qtd_filhos_mortos(cod):
    if cod == 0:
        return 'sem_filhos'
    elif cod == 1.0:
        return '1_filho'
    elif (cod >= 2.0) & (cod <= 4.0):
        return '2_a_4_filhos'
    elif (cod > 4.0) & (cod <= 98.0):
        return '5_ou_mais_filhos'
    else:
         return 'Ignorado'
df_2022_merge['def_num_filhos_mortos'] = [qtd_filhos_mortos(i) for i in df_2022_merge['QTDFILMORT']]

In [110]:
df_2022_merge['def_num_filhos_mortos']

0          sem_filhos
1             1_filho
2             1_filho
3          sem_filhos
4             1_filho
             ...
27389         1_filho
27390         1_filho
27391    2_a_4_filhos
27392         1_filho
27393      sem_filhos
Name: def_num_filhos_mortos, Length: 27394, dtype: object

In [ ]:
df_2022_merge.columns

In [ ]:
df_dofet_suja.columns

In [ ]:
df_2022_merge_import = df_2022_merge

In [ ]:
df_2022_merge_import.info()

In [ ]:
df_2022_merge_import.to_csv('SIM_DOFET\\ETLSIM.DOFET_2022_t.csv')